@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(to bottom, #2196f3, #81c9fa);
    height: auto; /* Altera para auto para melhor responsividade */
    color: #000000;
}

.euRedes {
    text-align: center;    
    font-size: 18px;
}

.imagens .minhaFoto {
    top: 10px;
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #5700e4;
    padding: 5px;
    margin-bottom: 10px;
}

.sobre {
    margin: 20px;
    text-align: justify;
    font-size: 20px;
}

.habilidades, .meusProjetos {
    font-family: "Poppins", sans-serif;
    background-color: #b1c7c7;
    padding: 20px;
    text-align: center;
    border: 1px solid #5c5c5c;
    margin: 10px;
}

.habilidades div, .meusProjetos div {
    display: inline-block;
    margin: 10px;
}

.habilidades img, .meusProjetos img {
    vertical-align: middle;
}

footer {
    background-color: #282c34;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    margin: 10px;
    flex: 1;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section form {
    display: flex;
    flex-direction: column;
}

.footer-section input {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
}

.footer-section a {
    color: #61dafb;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
}

@media (max-width: 768px) {
    .euRedes {
        font-size: 16px;
    }

    .minhaFoto {
        height: 150px;
        width: 150px;
    }

    .sobre {
        font-size: 18px;
        margin: 10px;
    }

    .habilidades, .meusProjetos {
        width: 90%;
        margin: 10px auto;
    }

    .habilidades div, .meusProjetos div {
        display: block;
        margin: 5px 0;
    }
    .meusProjetos img{
        max-width: 300px;
        margin-top: 5px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }
}
